*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* error */
.color_red{
    color: red;
}


/* header */
.header-main{
    background-color: blueviolet;
    box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.4);
}
.h1-header{
    color: white;
    padding: 1rem;
}

/* main */
.contain{
    height: 458px;
    display: flex;
    justify-content: center;

}
.contain-form{
    margin-top: 150px;
    height: 250px;
    width: 450px;
    box-shadow: 0px 0px 5px 6px rgba(0,0,0,0.4);
    display: flex;

    flex-direction: column;
}
.h2-form{
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
}

.dpf-jc{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.input-form{
    padding-left: 25px;
}

/* footer */
.footer-main{
    background-color: darkslategray;
    display: flex;
    justify-content: flex-end;
}
.tdr{
    color: white;
    padding: 1rem;
    
}
